.content-column-pokedex{
    margin : auto;
}

/*L'intérieur de chaque colonne */
#pokemon-container{
    display: block;
    text-align : center;
    align-items: center;
}

h2{
    margin : auto;
}

#pokemon-png{
    margin: auto;
}