{% extends "base.html" %}

<h1>Pokedex avec pokéAPI</h1>
{% block content %}
    <!--Foreach pokemon we display their name and their sprites-->
    {% set i = 0 %}
    {% for pokemon in list_pokemon %}
        {% if i % 3 == 0 %}
        <div>
        {% endif %}
            <div>
                <h2>{{i}}{{pokemon.name}}</h2>
                <img src={{pokemon.sprites}}>
            </div>
        <!-- {% set i = i + 1 %} -->
        {% if i % 3 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
