{% extends "base.html" %}

{% block css_script %}
    <link href="{{ url_for('static', filename='app/css/pokedex.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<h1>Pokedex avec pokéAPI</h1>
{% block content %}


<div class="row" id="pokedex_top">
    <div class="pokedex_circle" id="pokemon-container"></div>
    <div id="title_pokedex"><h1>Pokédex</h1></div>
</div>
<!--Foreach pokemon we display their name and their sprites-->
<div class="row justify-content-center">
    {% for pokemon in list_pokemon %}
        <div class="col-xl-4">
            <div class="container" id="pokemon-container">
                <div><h2>{{pokemon.name}}</h2></div>
                <div><img src={{pokemon.sprites}} id="pokemon-png"></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}