{% extends "base.html" %}

{% block css_script %}
    <link href="{{ url_for('static', filename='app/css/pokedex.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<h1>Pokedex avec pokéAPI</h1>
{% block content %}

<!--Foreach pokemon we display their name and their sprites-->
<div class="row justify-content-center">
    {% for pokemon in list_pokemon %}
        <div class="col-xl-4">
            <div class="container" id="pokemon-container">
                <div class="row"><h2>{{pokemon.name}}</h2></div>
                <div class="row"><img src={{pokemon.sprites}} id="pokemon-png"></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}